* {
    font-family: "VT323", monospace;
    font-size: 1.25rem;
    --toastify-color-light: transparent;
}

img { 
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated;                 /* Universal support since 2021   */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}
    
body {
    display: flex;
    height: 100vh;
    width: 100vw;
    min-height: 900px;
    min-width: 1600px;
    background-image: url('/bg-6.png');
    background-repeat: repeat;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
#scene {
    position: relative;
    width: 1600px;
    height: 900px;
    background-color: red;
}
.svg-layer {
    position: absolute;
    cursor: pointer;
}
#blue-castle-group, #red-castle-group {
    pointer-events: bounding-box;
}
#logo {
    left: 41.75%;
    top: 5%;
    width: 264px;
    height: 120px;
}
#logo-menu {
    position: absolute;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    top: 20%;
    height: 70%;
    overflow-y: auto;
    overflow-x: auto;
    width: 40%;
    left: 29.5%;
    filter: opacity(0.9);
    background-image: url('/pixelated_bg_menu_2.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    padding: 1rem;
}
.sub-menu {
    display: flex;
    flex-direction: column;
}
#fortify-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    top: 20%;
    height: 50%;
    width: 40%;
    left: 29.5%;
    filter: opacity(0.9);
    background-image: url('/pixelated_bg_menu_2.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
}
#profile-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    overflow-y: auto;
    top: 20%;
    gap: 1rem;
    max-height: 65%;
    width: 40%;
    left: 29.5%;
    filter: opacity(0.9);
    background-image: url('/pixelated_bg_menu_2.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
}
#pay-modal > button:hover {
    scale: 1.05;
}
#profile-menu > p {
    margin-block: 0 0;
}
.pay-modal-inp-grp {
    display: flex;
    width: 80%;
    align-self: center;
    gap: 1rem;
}
.pay-modal-inp-grp > div {
    flex-grow: 100;
}
.pay-modal-inp-grp > div > input {
    width: 100%;
}
#pay-modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 30%;
    height: 40%;
    max-height: 40%;
    color: black;
    text-align: center;
    background-image: url('/pixelated_bg_menu_2.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 20px;
    padding: 1rem 1rem 1rem 1rem;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
}
#pay-modal > p {
    margin-block: 0 0;
}
#pay-modal > h2 {
    margin-block: 0 0;
}
#confirm-pay-modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    opacity: 1;
    color: black;
    background-image: url('/pixelated_bg_menu.jpg');
    background-repeat: no-repeat;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem 1rem 1rem 1rem;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
}
#confirm-pay-modal > button {
    margin-inline: 1rem 1rem;
}
#confirm-pay-modal > button:hover {
    scale: 1.05;
}
#nick-modal {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    top: 20%;
    height: 50%;
    width: 40%;
    left: 29.5%;
    filter: opacity(0.9);
    background-image: url('/pixelated_bg_menu_2.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
}
#red-tree {
    width: 14%;
    height: 33%;
    left: 1%;
    top: 51%;
}
#blue-tree {
    width: 14%;
    height: 33%;
    right: 1%;
    top: 51%;
}
#sky {
    width: 100%;
    height: 80%;
}
#blue-castle {
    top: 20%;
    right: 5%;
    width: 600px;
    height: 600px;
}
#red-castle {
    top: 20%;
    left: 5%;
    width: 600px;
    height: 600px;
}
#blue-fence {
    right: 1.5%;
    top: 88.5%;
    width: 35%;
    height: 6%;
}
#red-fence {
    left: 1.5%;
    top: 88.5%;
    width: 35%;
    height: 6%;
}
#blue-foliage {
    top: 92%;
    right: 0%;
    width: 41%;
    height: 8%;
}
#red-foliage {
    top: 92%;
    left: 0%;
    width: 41%;
    height: 8%;
}
#blue-bushes {
    top: 70%;
    right: 0px;
    width: 40%;
    height: 14%;
}
#red-bushes {
    top: 70%;
    left: 0px;
    width: 40%;
    height: 14%;
}
/*#blue-banner {
    top: 64%;
    right: 35.25%;
    width: 5%;
    height: 13%;
}*/
#blue-banner {
    top: 61%;
    right: 30.25%;
    width: 15%;
    height: 15%;
    image-rendering: pixelated;
}
#red-banner {
    top: 61%;
    left: 30.25%;
    width: 15%;
    height: 15%;
    image-rendering: pixelated;
}
/*#red-banner {
    top: 64%;
    left: 35.25%;
    width: 5%;
    height: 13%;
}*/
#dirt {
    left: 0px;
    width: 100%;
    height: 20%;
    top: 80%;
}
.button {
    height: 60px;
    width: 180px;
}
.menu-button {
    background-color: chocolate;
}
.menu-button:hover {
    filter: brightness(120%);
}
.svg-background {
    position: absolute;
}
.rollover {
    display: none;
}
.rollover:hover {
    display: block;
}
/* Hide the rollover image by default and only show it on hover */
.highlightable:hover .default {
    display: none;
}
.highlightable:hover .rollover {
    display: block;
}
.svg-layer.button:hover {
    filter: brightness(120%);
}
#walk-anim-to-blue {
    background-image: url('/WALK.png');
    will-change: left;
    width: 288px;
    height: 288px;
    position: absolute;
    transform: translateZ(0);
    top: 65%;
    left: 24%;
    display: none;
    animation: spriteAnim 1.0s steps(8) infinite linear;
    filter: sepia(100%) saturate(500%) hue-rotate(300deg);
}

#sellsword {
    top: 75%;
    width: 96px;
    height: 96px;
}

#blacksmith {
    height: 180px;
    width: 180px;
    position: absolute;
    display: none;
    background-image: url('/BLACKSMITH (5).gif');
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    top: 69.3%;
    left: 52%;
}

#sharpencoin {
    position: absolute;
    background-image: url('/coin.gif');
    background-size: cover;
    image-rendering: pixelated;
    display: none;
    top: 77.3%;
    left: 52%;
    height: 18px;
    width: 20px;
    animation: toss 1s linear infinite;
}

@keyframes toss {
    0%, 100% {
        transform: translate(0%, 0%);
        opacity: 0;
    }
    10% {
        transform: translate(20%, -40%);
        opacity: 1;
    }
    25% {
        transform: translate(50%, -60%);
    }
    50% {
        transform: translate(100%, -40%);
    }
    75% {
        transform: translate(150%, 0%);
    }
    90% {
        transform: translate(200%, 20%);
        opacity: 1;
    }
    91% {
        opacity: 0;
    }
}

@keyframes moveAnimBlue {
    to {
        left: 60%;
    }
}

@keyframes spriteAnim {
100% { background-position: -2304px; } /* 288px * 8 frames */
}

#walk-anim-to-red {
    background-image: url('/WALK.png');
    width: 288px;
    height: 288px;
    position: absolute;
    will-change: right;
    transform: translateZ(0);
    top: 65%;
    right: 24%;
    display: none;
    animation: spriteAnim 1.0s steps(8) infinite linear;
    filter: sepia(100%) saturate(500%) hue-rotate(190deg);
    transform: scaleX(-1);
}

@keyframes moveAnimRed {
    to {
        right: 60%;
    }
}

#attack-anim-blue {
    background-image: url('/ATTACK.png');
    width: 288px;
    height: 288px;
    position: absolute;
    top: 65%;
    transform: translateZ(0);
    left: 60%;
    display: none;
    animation: spriteAnimAttack 1.6s steps(5);
    filter: sepia(100%) saturate(500%) hue-rotate(300deg);
}

@keyframes spriteAnimAttack {
100% { background-position: -1440px; } /* 288px * 7 frames */
}

#attack-anim-red {
    background-image: url('/ATTACK.png');
    width: 288px;
    height: 288px;
    position: absolute;
    transform: translateZ(0);
    top: 65%;
    right: 60%;
    display: none;
    animation: spriteAnimAttack 1.6s steps(5);
    filter: sepia(100%) saturate(500%) hue-rotate(190deg);
    transform: scaleX(-1);
}

.toast-container {
    height: 173px;
    width: 274px;
    top: 80%;
    background-position: center;
    opacity: 0.85;
    color: white;
    background-image: url('/scroll_parchment_2.png');
    image-rendering: pixelated;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-left: 20px;
}

@keyframes flashAnim {
0%, 100% { filter: brightness(100%); }
40% { filter: brightness(100%); }
50% { filter: brightness(300%); }
60% { filter: brightness(100%); }
70% { filter: brightness(300%); }
80% { filter: brightness(100%); }
}

.FloatingCombatText {
    position: absolute;
    display: none;
    font-size: 5rem;
    font-family: "VT323", monospace;
    color: aliceblue;
    font-weight: 400;
    font-style: normal;
    animation: up 6s;
    animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
    animation-iteration-count: 1;
    transform-origin: center;
}

.FloatingCombatTextCritical {
    position: absolute;
    display: none;
    font-size: 5.5rem;
    font-family: "VT323", monospace;
    color: red;
    font-weight: 400;
    font-style: normal;
    animation: up 8s;
    animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
    animation-iteration-count: 1;
    transform-origin: center;
}

@keyframes up {
0% {
    transform: scale(0) translateY(0%);
    opacity: 0;
}
20% {
    opacity: 1;
    transform: scale(1) translateY(-50%);
}
40% {
    filter: brightness(200%);
}
50% {
    filter: brightness(100%);
}
60% {
    filter: brightness(200%);
}
70% {
    filter: brightness(100%);
}
100% {
    transform: translateY(-100%) rotateZ(10deg);
    opacity: 0;
}
}