.container {
    background-color: #1a1a1a;
    border: 0.4em solid transparent;
    border-radius: 5px;
    position: absolute;
    padding: 0;
    top: 20%;
    left: 50%;
    width: 28%;
    height: 20%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  
  .smallContainer {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
  }
  
  .maximized {
    height: 50%;
  }
  
  .buttonContainer {
    display: flex;
    justify-content: flex-end;
    margin: 1%;
  }
  
  .button {
    background-color: #000000;
    color: #ffffff;
    border: 0.2em transparent #ffffff;
    padding: 0.5em 1em;
    font-size: 0.6em;
    cursor: pointer;
    margin-left: 0.5em;
  }
  
  .button:hover {
    background-color: #ffffff;
    color: #000000;
  }
  
  .textarea {
    flex-grow: 1;
    background-color: #000000;
    font-size: 0.8em;
    outline: none;
    scrollbar-width: none;
    overflow: auto;
    resize: none;
    color: #ffffff; /* Ensure text is visible */
  }